@charset "UTF-8";

html{
  font-size: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*{
  outline: solid aqua;
}

body{
  color: #333;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS Ｐ明朝", "MS 明朝", serif;
  min-height: 100%;
  background-image: url(../img/paint-bg.png);
  background-size: cover; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-position: center center; 
}

a{
  text-decoration: none;
  color: #333;
}

img{
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.wrapper{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

li{
  list-style: none;
}


/* Header */

.header .mv{
  height: 600px;
  width: 100vw;
  background-image: url(../img/mv-pc.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 500px) {
  .header .mv{
    background-image: url(../img/mv-sp.png);
  }
}

.tel-box{
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 12px 25px;
  position: fixed;
  z-index: 900;
  top: 20px;
  right: 20px;
  box-shadow: 0 0 20px 0 rgba(204, 204, 204, 0.16);
}

.tel-box .tel-img{
  width: 25px;
  height: 32px;
  margin-right: 16px;
}

.tel-box .tel-number p:first-of-type{
  font-size: 1.5rem;
  color: #707070;
}

.tel-box .tel-number p:last-of-type{
  font-size: 0.8125rem;
  color: #707070;
}

.mv-title{
  background-color: rgba(255, 255, 255, 0.5);
  width: fit-content;
  color: #333;
  font-size: 2.125rem;
  letter-spacing: 1.7px;
  text-align: left;
  padding: 8px 24px;
  position: absolute;
  left: 10%;
  top: 47%;
}

.nav-box{
  display: flex;
  align-items: center;
  margin-bottom: 115px;
}

.site-title{
  margin-top: -25px;
  margin-right: 40px;
  z-index: 5;
}

.site-title__img{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #3FB8B1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-title__text{
  text-align: center;
  color: #707070;
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 8px;
}

.top-nav ul{
  display: flex;
  justify-content: space-between;
}

.top-nav ul li{
  margin-right: 55px;
  position: relative;
}

.top-nav ul li::after{
  content: "";
  display: inline-block;
  width: 1px;
  height: 25px;
  background-color:#707070;
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  right: -27px;
}

.top-nav ul li:last-of-type{
  margin-right: 0px;
}

.top-nav ul li:last-of-type::after{
  content: none;
}


.top-nav ul li a{
  display: block;
  color: #50483D;
  font-size: 0.75rem;
}

.top-nav ul li a::before{
  content: attr(data-en);
  display: block;
  font-size: 1rem;
  color: #179591;
  text-transform: capitalize;
  text-align: center;
}

.hamburger-btn{
  display: none;
}

.hamburger{
  display: none;
}

.consul-hour{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.consul-hour__title{
  font-size: 1.125rem;
  font-weight: bold;
  border-left: 4px solid #179591;
  color: #707070;
  padding-left: 16px;
  margin-bottom: 24px;
}

.cross-table{
  border: 1px solid #707070;
  margin-bottom: 8px;
  margin-right: 50px;
}

.cross-table__inner{
  width: 100%;
  text-align: center;
  border-collapse:collapse;
}

.cross-table__header{
  padding: 8px;
  background-color: #fff;
  color: #707070;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  font-weight: normal;
  font-size: 0.875rem;
}

.cross-table__header--md-sticky{
  padding-left: 47px;
  padding-right: 47px;
}

.cross-table__text{
  padding: 8px;
  font-size: 0.875rem;
  color: #707070;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.cross-table__header:last-child, .cross-table__text:last-child{
  border-right-width: 0;
}

.cross-table__body-row:last-child
.cross-table__header, 
.cross-table__body-row:last-child
.cross-table__text{
  border-bottom-width: 0;
}

@media screen and (max-width:768px){
  .cross-table{
    border-right-width: 0;
    overflow-x: auto;
  }
  .cross-table__inner{
    width: auto;
    min-width: 100%;
  }

  .cross-table__header,.cross-table__text{
    white-space: nowrap;
  }

  .cross-table__header:last-child,.cross-table__text:last-child{
    border-right-width: 1px;
  }
  .cross-table__header--md-sticky{
    position: sticky;
    position: -webkit-sticky;
    left: 0;
  }
}

.consul-hour__table__text{
  color: #707070;
  font-size: 0.875rem;
  line-height: 1.57;
  margin-bottom: 32px;
}

.consul-hour__table__number{
  color: #707070;
  font-size: 2.25rem;
  display: flex;
  align-items: center;
}

.consul-hour__table__number img{
  width: 40px;
  height: 52px;
  margin-right: 16px;
}


.google-map iframe {
  width: 300px;
  height: 200px;
  border: 0;
  vertical-align: bottom;
  margin-bottom: 8px;
}

.consul-hour__map address{
  color: #707070;
  font-style: normal;
  font-size: 0.875rem;
  margin-bottom: 40px;
}

.consul-hour__map__btn{
  display: block;
  width: 188px;
  max-width: 100%;
  padding: 12px 8px;
  font-size: 0.875rem;
  text-align: center;
  border: 1px solid #707070;
  border-radius: 4px;
  color: #707070;
  transition: .25s;
  margin: 0 0 0 auto;
}

.btn:focus, .btn:hover{
  background-color: #707070;
  border-color: currentColor;
  color: #fff;
}

/* Concept */

.concept{
  margin: 0 auto;
  margin-bottom: 160px;
  max-width: 2000px;
}

.section-title{
  font-size: 3.5rem;
  display: inline-block;
  color: #707070;
  text-transform: capitalize;
  letter-spacing: 5.6px;
  position: relative;
  padding-left: 246px;
  padding-right: 32px;
  margin-right: 32px;
  margin-bottom: 24px;
}

.section-title::before{
  content: "";
  display: block;
  width: 200px;
  height:1px;
  background-color:#707070;
  position: absolute;
  top: 50px;
  left: 0;
}

.section-title::after{
  content:"";
  display: block;
  width:1px;
  height:30px;
  background-color:#707070;
  transform: rotate(35deg);
  position:absolute;
  top:  18px;
  right: 0px;
}

.section-title-ja{
  display: inline-block;
  color: #707070;
  font-size: 1.125rem;
  font-weight: bold;
  transform: translate(0px, -5px);
}

.concept__content{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.concept__img {
  width: 1000px;
  height: 600px;
}

.concept__img img{
  width: 1000px;
  height: 600px;
}

.concept__text{
  width: 710px;
  padding: 55px 83px;
  background-color: #fff;
  position: absolute;
  top: 93px;
  right: 0;
}

.concept__text__title{
  font-size: 1.625rem;
  font-weight: bold;
}

.gradation-border{
  display: block;
  height: 6px;
  background-image: linear-gradient(150deg, rgba(23, 149, 145, 1) 10%, rgba(184, 245, 245, 1) 50%, rgba(23, 149, 145, 1) 90%);
}

.concept__text p{
  color: #707070;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.8;
  margin-top: 24px;
}

/* Feature */

.feature{
  margin: 0 auto;
  margin-bottom: 228px;
  max-width: 2000px;
}

.feature__top-title{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 24px;
}

.section-title__reverse{
  display: inline-block;
  font-size: 3.5rem;
  font-weight: bold;
  color: #707070;
  text-transform: capitalize;
  letter-spacing: 5.6px;
  padding-right: 32px;
  margin-right: 32px;
  position: relative;
}

.section-title__reverse::after{
  content:"";
  display: block;
  width:1px;
  height:30px;
  background-color:#707070;
  transform: rotate(35deg);
  position:absolute;
  top:  22px;
  right: 0px;
}

.section-title-ja__reverse{
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  color: #707070;
  padding-right: 235px;
  transform: translate(0px, 7px);
  position: relative;
}

.section-title-ja__reverse::after{
  content: "";
  display: block;
  width: 200px;
  height:1px;
  background-color:#707070;
  position: absolute;
  top: 20px;
  right: 0;
}

.feature-box{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 160px;
  position: relative;
}

.feature-box:nth-of-type(odd){
  justify-content: flex-start;
}

.feature__text{
  width: 447px;
  padding: 48px 24px 24px 24px;
  background-color: #fff;
}

.feature-box:nth-of-type(even) .feature__text{
  position: absolute;
  bottom: -140px;
  left: -20px;
}

.feature-box:nth-of-type(odd) .feature__text{
  position: absolute;
  bottom: -140px;
  right: -20px;
}

.feature__number{
  width: 145px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -24px;
  left: 150px;
}

.feature__number__en{
  font-size: 0.875rem;
  text-transform: capitalize;
  color: #707070;
  position: relative;
}

.feature__number__en::after{
  content:"";
  display: block;
  width:1px;
  height:80px;
  background-color:#707070;
  transform: rotate(50deg);
  position:absolute;
  top:  -15px;
  right: -20px;
}

.feature__number__nu{
  font-size: 3rem;
  color: #707070;
  padding-top: 10px;
}

.feature__title{
  font-size: 1.25rem;
  font-weight: bold;
  color: #707070;
  margin-bottom: 10px;
}

.feature__text p{
  font-size: 1rem;
  color: #707070;

}

.feature__img{
  width: 480px;
  height: 280px;
}

.feature__img img{
  width: 480px;
  height: 280px;
}

/* News */

.news{
  background-color: #F1F7F7;
  height: 900px;
}

.news-img{
  width: 100vw;
  height: 300px;
}

.news-img img{
  width: 100vw;
  height: 300px;
}

.news-box{
  background-color: #fff;
  padding: 72px 40px;
  transform: translateY(-70px);
}

.news-box__title{
  color: #484848;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1px;
  margin-bottom: 56px;
}


.tab__menu {
  display: flex;
}

.tab__menu-item {
  width: 50%;
  text-align: center;
  background-color: #F1F7F7;
  cursor: pointer;
  transition: all .3s; 
  color: #707070;
  padding: 12px 5px;
}

.tab__menu-item.is-active {
  background-color: #179591;
  color: #fff;
  padding: 12px 5px;
}

/* タブパネル */
.tab__panel {
 width: 100%;
}

.tab__panel-box {
  background-color: #fff;
}

.tab__panel-box001 {
  display: none;
}

.tab__panel-box002 {
  display: none;
}

.tab__panel-box.is-show {
  display: block;
}

.tab__panel-text li{
  display: flex;
  padding: 16px 24px;
  border-bottom: 1px solid #ccc;
}

.tab__panel-time{
  width: 20%;
  color: #707070;
  font-size: 1rem;
  font-weight: normal;

}

.tab__panel-link{
  width: 80%;
  color: #707070;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.625;
}

/* Footer */

.footer{
  border-top: 1px solid #179591;
}

.footer__consul-hour{
  background-color: #fff;
  padding-top: 64px;
  padding-bottom: 64px;
}

.no-margin{
  margin-bottom: 0;
}

.footer__logo{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  color: #707070;
  font-size: 1.25rem;
}

.footer__logo-img{
  background-color: #3FB8B1;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.footer__logo-img img{
  width: 20px;
  height: 20px;
}

.footer__nav{
  background-color: #F1F7F7;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__nav ul{
  display: flex;
  justify-content: center;
}

.footer__nav ul li{
  margin-right: 56px;
  position: relative;
}

.footer__nav ul li:last-of-type{
  margin-right: 0px;
}

.footer__nav ul li::after{
  position: absolute;
  content: "";
  right: -28px;
  top: 3px;
  width: 1px;
  height: 16px;
  background: #707070;
  border-radius: 3px;
  transform: rotate(30deg);
}

.footer__nav ul li a{
  color: #707070;
  font-size: 0.875rem;
}

.copyright{
  background-color: #179591;
  color: #fff;
  font-size: 0.75rem;
  padding: 16px;
  text-align: center;
}


/* 

about.html

*/

/* Header */

.under-mv{
  background-color: #F1F7F7;
  height: 300px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.die-cut{
  width: 600px;
  height: 600px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.under-mv__title{
  background-color: #fff;
  border: 2px solid #179591;
  width: 320px;
  padding-top: 38px;
  padding-bottom: 32px;
  text-align: center;
}

.under-mv__title p{
  font-size: 2.25rem;
  color: #179591;
  font-weight: bold;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 21px;
}

.under-mv__title p::after{
  content: "";
  display: block;
  width: 56px;
  height: 2px;
  background-color:#179591;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.under-mv__title span{
  display: inline-block;
  color: #179591;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: capitalize;
}

/* Introduction */

.introduction{
  margin-bottom: 80px;
}

.section-heading-box{
  background-color: #F1F7F7;
  padding: 12px 0;
  margin-bottom: 40px;
}

.section-heading{
  color: #179591;
  border-left: 9px solid #179591;
  padding: 6px 24px;
}

.introduction__content{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 56px;
}

.introduction__text{
  width: 44%;
  color: #707070;
  font-size: 1rem;
  line-height: 1.8;
}

.introduction__img{
  width: 45%;
}

.introduction__target__title{
  border-bottom: 1px solid #707070;
  text-align: center;
  color: #707070;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 64px;
  position: relative;
  z-index: 5;
}

.introduction__target__title::after{
  content: '';
  width: 50px;
  height: 50px;
  border: 0;
  background-color: #fff;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  position: absolute;
  bottom: -26px;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  margin-top: -6px;
  transform: rotate(45deg);
  z-index: -1;
}

.introduction__target ul{
  padding-top: 40px;
  padding-bottom: 22px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F3F7F9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.introduction__target ul li{
  color: #707070;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}


.introduction__target ul li:nth-of-type(odd){
  margin-right: 65px;
}

.introduction__target ul li img{
  width: 24px;
  height: 20px;
  margin-right: 12px;
}

/* Flow */

.flow{
  margin-bottom: 80px;
}

.flow__inner{
  width: 710px;
  margin: 0 0 0 auto;

}

.flow__term{
  color: #707070;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: 游ゴシック;
  position: relative;
  line-height: 1.58;
  margin-bottom: 8px;
}

.flow__term span{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border: 1px solid #707070;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: -55px;
  background-color: #fff;
}

.flow__term span::before{
  content:"";
  display:inline-block;
  width:1px;
  height: 170px;
  background-color:#707070;
  position:absolute;
  top: 35px;
  left: 50%;
}

.flow__term-last span::before{
  content: none;
}

.flow__description{
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.flow__paragraph{
  color: #707070;
  font-size: 0.9375rem;
  line-height: 1.5;
  width: 50.6%;
}

.flow__img{
  width: 34%;
  position: absolute;
  top: -40px;
  right: 0;
}

.flow__img-sp-only{
  display: none;
}

.flow__description:last-of-type{
  margin-bottom: 0px;
}

/* Clinic-Guide */

.clinic-guide{
  background-color: #F1F7F7;
  padding: 80px 16px;
}

.clinic-guide__title{
  font-size: 1.75rem;
  font-weight: bold;
  color: #707070;
  text-align: center;
  margin-bottom: 56px;
}

.clinic-guide__list{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
}

.clinic-guide__list li{
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

.clinic-guide__number{
  display: inline-block;
  font-size: 3rem;
  font-weight: normal;
  color: #707070;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.clinic-guide__img{
  margin-bottom: 16px;
}

.clinic-guide__list__title{
  text-align: center;
}

.clinic-guide__list__title a{
  display: inline-block;
  color: #707070;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  padding-right: 24px;
}

.clinic-guide__list__title a::before{
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6px;    
  height: 6px;  
  border-top: 1px solid #707070;    
  border-right: 1px solid #707070;  
  transform: rotate(45deg);    /* くの字の向き */
}

.clinic-guide__list__title a::after{
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px; 
  height: 1px; 
  background: #707070;
}

.clinic-guide__list__reserve__title{
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: #707070;
  margin-bottom: 16px;
}

.clinic-guide__list__reserve__number{
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  font-size: 2.25rem;
  color: #707070;
}

.clinic-guide__list__reserve__number img{
  width: 40px;
  height: 52px;
  margin-right: 12px;
}

.clinic-guide__list__reserve__time{
  color: #707070;
  font-size: 0.8125rem;
  line-height: 1.615;
}


/* 

guide.html

*/

/* Guide-Top */

.guide-top{
  margin-bottom: 120px;
  position: relative;
}

.guide-top__img{
  width: 100%;
  height: 300px;
  margin-bottom: 70px;
}

.guide-top__img img{
  width: 100%;
  height: 300px;
}

.guide-top__title{
  width: 360px;
  background-color: #fff;
  color: #707070;
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
}

.guide-top__text{
  width: 63.75%;
  line-height: 2;
  color: #707070;
  margin: 0 auto; 
  margin-bottom: 75px;
  font-size: 1rem;
}

.guide-top__nav ul{
  display: flex;
  justify-content: center;
}

.guide-top__nav ul li{
  margin-right: 48px;
  position: relative;
}

.guide-top__nav ul li::before{
  content: "";
  display: inline-block;
  width: 1px;
  height: 80px;
  background-color:#707070;
  position: absolute;
  top: -20px;
  left: -25px;
  transform: rotate(30deg);
}

.guide-top__nav ul li::after{
  content: "";
  position: absolute;
  bottom: -13px;
  left: 50px;
  width: 10px;  
  height: 10px;   
  border-top: 1px solid #707070; 
  border-right: 1px solid #707070;   
  transform: rotate(135deg);    
}

.guide-top__nav ul li img{
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.guide-top__nav ul li:last-of-type{
  margin-right: 0px;
}

/* Treatment */

.treatment{
  margin-bottom: 80px;
}

.treatment__inner{
  display: flex;
  justify-content: space-between;
}

.treatment__text{
  width: 44%;
  line-height: 2;
  color: #707070;
  font-size: 1rem;
}

.treatment__img{
  width: 45%;
  height: 240px;
}

.treatment__img img{
  height: 240px;
}

/* Prevention */

.prevention{
  margin-bottom: 80px;
}

.prevention__inner{
  display: flex;
  justify-content: space-between;
}

.prevention__text{
  width: 44%;
  line-height: 2;
  color: #707070;
  font-size: 1rem;
}

.prevention__img{
  width: 45%;
  height: 240px;
}

.prevention__img img{
  height: 240px;
}

/* Whitened */

.whitened{
  margin-bottom: 80px;
}

.whitened__img{
  margin-bottom: 48px;
  width: 100%;
  height: 240px;
}

.whitened__img img{
  height: 240px;
}

.section-heading-sub{
  display: block;
  margin-bottom: 32px;
  padding-bottom: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #179591;
  border-bottom: 2px solid #EBECF0;
  position: relative;
}

.section-heading-sub::after{
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color:#179591;
  position:absolute;
  bottom: -2px;
  left: 0;
}

.whitened__text{
  margin-bottom: 24px;
  line-height: 1.8;
  font-size: 1rem;
  color: #707070;
}

.whitened__text__fin{
  margin-bottom: 48px;
}

/* Implant */

.implant{
  margin-bottom: 112px;
}

.implant__img{
  margin-bottom: 48px;
  width: 100%;
  height: 240px;
}

.implant__img img{
  height: 240px;
}

.implant__text{
  margin-bottom: 24px;
  line-height: 1.8;
  font-size: 1rem;
  color: #707070;
}

.implant__text__fin{
  margin-bottom: 48px;
}

.implant__flow{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.implant__flow li{
  width: 31%;
}

.implant__flow__number{
  font-size: 1.0625rem;
  font-weight: bold;
  color: #707070;
  margin-bottom: 8px;
}

.implant__flow__img{
  height: 168px;
  margin-bottom: 16px;
}

.implant__flow__img img{
  height: 168px;
}

.implant__flow__text{
  line-height: 1.57;
  color: #707070;
}


/* 

price.html

*/


/* AtFirst */

.atFirst{
  margin-bottom: 80px;
}

.atFirst__text{
  margin-bottom: 24px;
  line-height: 1.8;
  font-size: 1rem;
  color: #707070;
}

.atFirst__text__fin{
  margin-bottom: 48px;
}

/* Insurance */

.insurance{
  margin-bottom: 80px;
}

.insurance-table{
  border: 1px solid #707070;
  margin-bottom: 47px;
}

.insurance-table__inner{
  width: 100%;
  border-collapse: collapse;
}

.insurance-table__header{
  width: 25%;
  padding: 16px;
  background-color: #F5F5F5;
  color: #707070;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
}

.insurance-table__text{
  padding: 16px;
  color: #707070;
  background-color: #fff;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  text-align: center;
}

.tal{
  text-align: left;
}

.insurance-table__row:last-child
.insurance-table__text{
  border-bottom-width: 0px;
}


@media screen and (max-width:768px){
  .insurance-table{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .insurance-table__header{
    white-space: nowrap;
  }

  .insurance-table__text{
    white-space: nowrap;
  }
}

.decay-table{
  border: 1px solid #707070;
}

.decay-table__inner{
  width: 100%;
  border-collapse: collapse;
}

.decay-table__header{
  width: 54%;
  padding: 16px;
  background-color: #F5F5F5;
  color: #707070;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
}

.long-header{
  width: 70%;
}

.decay-table__text{
  padding: 16px;
  color: #707070;
  background-color: #fff;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  text-align: center;
}

.decay-table__row:last-child
.decay-table__header, 
.decay-table__row:last-child
.decay-table__text{
  border-bottom-width: 0;
}

.no-border{
  border-bottom: 0px;
}

@media screen and (max-width:768px){
  .decay-table{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .decay-table__header{
    white-space: nowrap;
  }

  .decay-table__text{
    white-space: nowrap;
  }
}

/* Self */

.self{
  margin-bottom: 80px;
}


.self-table{
  border: 1px solid #707070;
}

.self-table__inner{
  width: 100%;
  border-collapse: collapse;
}

.self-table__header{
  width: 77%;
  padding: 16px;
  background-color: #F5F5F5;
  color: #707070;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
}

.self-table__text{
  padding: 16px;
  color: #707070;
  background-color: #fff;
  border-bottom: 1px solid #707070;
  text-align: center;
}

.self-table__row:last-child
.self-table__header, 
.self-table__row:last-child
.self-table__text{
  border-bottom-width: 0;
}

@media screen and (max-width:768px){
  .self-table{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .self-table__header{
    white-space: nowrap;
  }

  .self-table__text{
    white-space: nowrap;
  }
}


/* 

staff.html

*/


/* Director */

.director{
  margin-bottom: 80px;
}

.director__inner{
  display: flex;
  justify-content: space-between;
}

.director__img{
  width: 37.5%;
  height: 380px;
}

.director__img img{
  height: 380px;
}

.director__text{
  width: 58%;
  position: relative;
}

.director__degree{
  display: inline-block;
  font-size: 0.875rem;
  font-weight: normal;
  color: #179591;
}

.director__name{
  font-size: 1.5rem;
  font-weight: bold;
  color: #707070;
  margin-bottom: 40px;
  position: relative;
}

.director__name__en{
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: normal;
  margin-left: 24px;
}

.director__border{
  border-bottom: 2px solid #179591;
  width: 381px;
  position: absolute;
  top: 65px;
  left: -60px;
}

.director__greeting{
  font-size: 1rem;
  font-weight: normal;
  color: #707070;
  margin-bottom: 24px;
  line-height: 1.8;
}

/* Doctor */

.doctor{
  margin-bottom: 160px;
}

.doctor__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 56px;
}

.doctor__list li{
  width: 46%;
  border-top: 2px solid #179591;
  padding-top: 24px;
  position: relative;
}

.doctor__triangle{
  width:0;
  height:0;
  border-style:solid;
  border-width: 83px 83px 83px 0;
  border-color: transparent #F1F7F7 transparent transparent;
  transform: rotate(45deg);
  position: absolute;
  top: -53px;
  left: -12px;
}

.doctor__name-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.doctor__name{
  padding-left: 16px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #707070;
  position: relative;
}

.doctor__name::before{
  content: "歯科医師";
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 16px;
  color: #179591;
  font-size: 0.8125rem;
  font-weight: bold;
}

.doctor__img{
  height: 92px;
}

.doctor__img img{
  height: 92px;
}

.doctor__greeting{
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1rem;
  font-weight: normal;
  color: #707070;
  line-height: 1.8;
}


/* 

access.html

*/

/* Access-Top */

.access-top{
  position: relative;
  margin-bottom: 80px;
}

.access-top__img{
  width: 100%;
  height: 300px;
  margin-bottom: 70px;
}

.access-top__img img{
  height: 300px;
}

.access-top__title{
  width: 360px;
  background-color: #fff;
  color: #707070;
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
}

.access-top__text{
  width: 63.75%;
  line-height: 2;
  color: #707070;
  margin: 0 auto; 
  font-size: 1rem;
}

/* Information */

.information{
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
}

.information__table-box{
  width: 47%;
}

.information__table-box__title{
  font-size: 1.125rem;
  font-weight: bold;
  border-left: 4px solid #179591;
  color: #707070;
  padding-left: 16px;
  margin-bottom: 24px;
}

.information-table{
  border: 1px solid #707070;
}

.information-table__inner{
  width: 100%;
  border-collapse: collapse;
}

.information-table__header{
  width: 27.7%;
  padding: 8px;
  background-color: #fff;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  font-weight: normal;
  font-size: 0.875rem;
  vertical-align: middle;
  text-align: left;
}

.information-table__text{
  padding: 8px;
  border-bottom: 1px solid #707070;
  font-size: 0.875rem;
  color: #707070;
}

.information-table__row:last-child
.information-table__header, 
.information-table__row:last-child
.information-table__text{
  border-bottom-width: 0;
}

@media screen and (max-width:768px){
  .information-table{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .information-table__header{
    white-space: nowrap;
  }

  .information-table__text{
    white-space: nowrap;
  }
}

/* Access-Map */

.google-map__access iframe {
  width: 100%;
  height: 400px;
  border: 0;
  vertical-align: bottom;
}


/* Banner */

.banner{
  background-color: #F1F7F7;
  padding-top: 64px;
  padding-bottom: 64px;
}

.banner__list{
  display: flex;
  justify-content: center;
}

.banner__list__address{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  border-right: 1px solid #707070;
}

.banner__list__address__site{
  text-align: center;
  font-size: 0.875rem;
  color: #707070;
  line-height: 1.57;

}

.banner__list__address__title{
  color: #707070;
  font-weight: bold;
  font-size: 1.5rem;
}

.banner__list__line{
  padding: 8px 50px;
  border-right: 1px solid #707070;
}

.banner__list__line__img{
  width: 24px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.banner__list__line__img img{
  width: 24px;
  height: 24px;
}

.banner__list__line__text{
  text-align: center;
  color: #707070;
  font-size: 0.875rem;
  line-height: 1.57;
}


/* Contact */

.contact{
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.contact__inner{
  max-width: 1100px;
  outline: solid 1px #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact__left{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #707070;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 44px;
  padding-left: 44px;
}

.contact__left p{
  font-size: 0.875rem;
  color: #707070;
  line-height: 1.57;
}

.contact__left a{
  display: inline-block;
  color: #707070;
  font-size: 2.125rem;
  font-weight: bold;
}

.contact__left img{
  width: 34px;
  height: 44px;
  margin-right: 16px;
}

.contact__right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 44px;
  padding-right: 44px;
}

.contact__right p{
  font-size: 0.875rem;
  color: #707070;
  line-height: 1.57;
}

.contact__right a{
  display: inline-block;
  color: #707070;
  font-size: 2.25rem;
  font-weight: bold;
}

.contact__right img{
  width: 40px;
  height: 30px;
  margin-right: 16px;
}

@media screen and (max-width: 1000px){
    /* Contact */

  .contact{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contact__inner{
    width: auto;
    flex-direction: column;
  }
  .contact__left{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-right: none;
    flex-direction: column;
  }
  .contact__left p{
    margin-bottom: 10px;
  }
  .contact__left p br{
    display: none;
  }
  .contact__left a{
    font-size: 1.5rem;
  }
  .contact__left img{
    width: 30px;
    height: 40px;
    margin-right: 10px;
  }
  .contact__right{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }
  .contact__right p{
    margin-bottom: 10px;
  }
  .contact__right p br{
    display: none;
  }
  .contact__right a{
    font-size: 1.5rem;
  }
  .contact__right img{
    width: 30px;
    height: 22px;
    margin-right: 10px;
  }
}


/*-------------------------------------------
SP
-------------------------------------------*/

@media screen and (max-width: 768px){

    /* Header */

  .tel-box{
    position: fixed;
    top: 87%;
  }
  .tel-box .tel-number p:first-of-type{
    font-size: 1.5rem;
    color: #707070;
  }
  .mv-title{
    font-size: 1.75rem;
    left: 32px;
    right: 40px;
  }
  .nav-box{
    display: none;
  }


  .hamburger-btn{
    display: block;
  }
  .hamburger{
    display: block;
  }
  #g-nav{
    position:fixed;
    z-index: 999;
    top:-120%;
    left:0;
    width:100%;
    height: 100vh;
    background:#fff;
    transition: all 0.6s;
  }
  #g-nav.panelactive{
    top: 0;
  }
  #g-nav ul {
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  #g-nav li{
    text-align: center; 
  }
  #g-nav li a{
  color: #707070;
  padding: 15px;
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: bold;
  }
  .site-logo__img-sp{
    background-color: #179591;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  .site-logo__img-sp img{
    width: 30px;
    height: 30px;
  }
  .site-logo__text-sp{
    font-size: 1.125rem;
    color: #707070;
  }
  .openbtn1{
    position:fixed;
    z-index: 9999;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 50px;
    height:50px;
    background-color: #179591;
    border-radius: 4px;
  }  
  .openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 10px;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    width: 60%;
  }
  .openbtn1 span:nth-of-type(1) {
    top: 12px; 
  }
  .openbtn1 span:nth-of-type(2) {
    top: 22px;
  }
  .openbtn1 span:nth-of-type(3) {
    top: 32px;
  }
  .openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 13px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
  }
  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 13px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
  }


  .consul-hour{
    flex-direction: column;
    margin-top: 100px;
  }
  .consul-hour__table{
    margin-bottom: 40px;
  }
  .cross-table{
    margin-right: 0px;
  }
  .cross-table__header--md-sticky{
    padding-left: 8px;
    padding-right: 8px;
  }
  .google-map iframe {
    width: 100%;
    height: 240px;
    margin-bottom: 17px;
  }

  /* Concept */

  .concept{
    margin-bottom: 120px;
  }
  .section-title{
    font-size: 2.5rem;
    padding-left: 63px;
    padding-right: 26px;
    margin-right: 24px;
  }
  .section-title::before{
    width: 50px;
    top: 35px;
  }
  .section-title::after{
    height: 25px;
    top:  12px;
  }
  .section-title-ja{
    font-size: 0.875rem;
    transform: translate(0px, -7px);
  }
  .concept__img {
    width: 100%;
    height: 486px;
  }
  .concept__img img{
    width: 100%;
    height: 486px;
  }
  .concept__text{
    width: 342px;
    padding: 14px 20px;
    max-height: 438px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .concept__text__title{
    font-size: 1.25rem;
  }
  .concept__text p{
    font-size: 0.875rem;
  }

  /* Feature */

  .feature{
    margin-bottom: 80px;
  }
  .section-title__reverse{
    font-size: 2.5rem;
    padding-right: 24px;
    margin-right: 24px;
  }
  .section-title__reverse::after{
    height: 25px;
    top:  15px;
  }
  .section-title-ja__reverse{
    font-size: 0.875rem;
    padding-right: 67px;
  }
  .section-title-ja__reverse::after{
    width: 50px;
    top: 16px;
  }
  .feature-box{
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .feature__text{
    width: auto;
    padding: 24px 24px 24px 24px;
  }
  .feature-box:nth-of-type(even) .feature__text{
    position: static;
  }
  .feature-box:nth-of-type(odd) .feature__text{
    position: static;
  }
  .feature__number{
    position: static;
    margin: 0 auto;
    margin-bottom: 16px;

  }
  .feature__title{
    margin-bottom: 16px;
  }
  .feature__text p{
    font-size: 0.875rem;
  }
  .feature__img{
    width: 100%;
    height: 200px;
    text-align: center;
  }
  .feature__img img{
    width: 342px;
    height: 200px;
  }

  /* News */

  .news{
    height: auto;
  }
  .news-box{
    padding: 40px 24px;
    transform: translateY(-87px);
  }
  .news-box__title{
    font-size: 1.25rem;
    margin-bottom: 32px;
  }

  /* タブパネル */
  .tab__panel-text li{
    flex-direction: column;
    padding: 14px 8px;
  }
  .tab__panel-time{
    width: auto;
    font-size: 0.875rem;
    margin-bottom: 8px;
  }
  .tab__panel-link{
    width: auto;
    font-size: 0.875rem;
  }

  /* Footer */

  .no-margin{
    margin-top: 0;
  }
  .footer__nav ul{
    flex-wrap: wrap;
  }



    /* 

  about.html

  */

  /* Header */

  .under-mv{
    height: 200px;
    margin-bottom: 50px;
  }

  .die-cut{
    width: 240px;
    height: 240px;
  }
  .under-mv__title{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .under-mv__title p{
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  /* Introduction */
  .introduction{
    margin-bottom: 50px;
  }
  .section-heading-box{
    padding: 10px 0;
    margin-bottom: 30px;
  }
  .section-heading{
    border-left: 5px solid #179591;
    padding: 3px 10px;
  }

  .introduction__content{
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .introduction__text{
    width: 100%;
  }
  .introduction__img{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .introduction__target__title{
    font-size: 1.25rem;
    margin-bottom: 50px;
  }
  .introduction__target__title::after{
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: 45%;
  }
  .introduction__target ul{
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }
  .introduction__target ul li{
    margin-bottom: 15px;
  }
  .introduction__target ul li:last-of-type{
    margin-bottom: 0;
  }
  .introduction__target ul li:nth-of-type(odd){
    margin-right: 0px;
  }
  .introduction__target ul li img{
    width: 18px;
    height: 16px;
    margin-right: 10px;
  }

  /* Flow */

  .flow{
    margin-bottom: 50px;
  }
  .flow__inner{
    width: auto;
    margin: 0;
  }
  .flow__term{
    left: 20%;
  }
  .flow__term span::before{
    height: 350px;
  }
  .flow__term-last span::before{
    content: "";
    background-color: #fff;
  }
  .flow__description{
    margin-bottom: 32px;
    flex-direction: column;
    align-items: end;
  }
  .flow__paragraph{
    width: 80%;
    margin-bottom: 8px;
  }
  .flow__img{
    width: 80%;
    height: 200px;
    position: static;
  }
  .flow__img-sp-only{
    display: block;
  }
  .flow__img-pc-only{
    display: none;
  }

  /* Clinic-Guide */

  .clinic-guide{
    padding: 30px 10px;
  }
  .clinic-guide__title{
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  .clinic-guide__list{
    gap: 50px;
  }
  .clinic-guide__number{
    font-size: 2.5rem;
    top: -23px;
  }
  .clinic-guide__list__reserve__title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .clinic-guide__list__reserve__number{
    margin-bottom: 20px;
    font-size: 2rem;
  }
  .clinic-guide__list__reserve__number img{
    width: 30px;
    height: 40px;
    margin-right: 10px;
  }

    /* 

  guide.html

  */

  /* Guide-Top */

  .guide-top{
    margin-bottom: 80px;
  }
  .guide-top__img{
    height: 200px;
    margin-bottom: 20px;
  }
  .guide-top__img img{
    height: 200px;
  }
  .guide-top__title{
    width: auto;
    font-size: 1.25rem;
    padding: 0;
    position: static;
    transform: translateX(0%);
    text-align: center;
    margin-bottom: 20px;
  }
  .guide-top__text{
    width: 100%;
    margin-bottom: 50px;
  }
  .guide-top__nav ul{
    flex-direction: column;
  }
  .guide-top__nav ul li{
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .guide-top__nav ul li::before{
    content: none;
  }
  .guide-top__nav ul li img{
    width: 30px;
    height: 30px;
  }
  .guide-top__nav ul li:last-of-type{
    margin-bottom: 0px;
  }

  /* Treatment */

  .treatment{
    margin-bottom: 50px;
  }
  .treatment__inner{
    flex-direction: column-reverse;
  }
  .treatment__text{
    width: 100%;
  }
  .treatment__img{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  /* Prevention */

  .prevention{
    margin-bottom: 50px;
  }
  .prevention__inner{
    flex-direction: column-reverse;
  }
  .prevention__text{
    width: 100%;
  }

  .prevention__img{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  /* Whitened */

  .whitened{
    margin-bottom: 50px;
  }
  .whitened__img{
    margin-bottom: 40px;
  }
  .section-heading-sub{
    margin-bottom: 20px;
  }
  .whitened__text{
    margin-bottom: 20px;
  }
  .whitened__text__fin{
    margin-bottom: 50px;
  }

  /* Implant */

  .implant{
    margin-bottom: 80px;
  }
  .implant__img{
    margin-bottom: 40px;
  }
  .implant__text{
    margin-bottom: 20px;
  }
  .implant__text__fin{
    margin-bottom: 50px;
  }
  .implant__flow{
    flex-direction: column;
    gap: 20px;
  }
  .implant__flow li{
    width: 100%;
  }

  .implant__flow__number{
    font-size: 1rem;
  }
  .implant__flow__img{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  .implant__flow__img img{
    width: 100%;
    height: 300px;
  }

    /* 

  price.html

  */


  /* AtFirst */

  .atFirst{
    margin-bottom: 50px;
  }
  .atFirst__text{
    margin-bottom: 20px;
  }
  .atFirst__text__fin{
    margin-bottom: 50px;
  }

  /* Insurance */

  .insurance{
    margin-bottom: 50px;
  }
  .insurance-table{
    margin-bottom: 40px;
  }
  .insurance-table__header{
    width: 20%;
    padding: 10px;
  }
  .insurance-table__text{
    padding: 10px;
  }
  .decay-table__header{
    padding: 10px;
  }
  .decay-table__text{
    padding: 10px;
  }

  /* Self */

  .self{
    margin-bottom: 50px;
  }
  .self-table__header{
    padding: 10px;
  }
  .self-table__text{
    padding: 10px;
  }

    /* 

  staff.html

  */


  /* Director */

  .director{
    margin-bottom: 50px;
  }
  .director__inner{
    flex-direction: column;
  }
  .director__img{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  .director__img img{
    width: 100%;
    height: 300px;
  }
  .director__text{
    width: 100%;
  }
  .director__name{
    font-size: 1.25rem;
    margin-bottom: 5px;
  }
  .director__name__en{
    margin-left: 20px;
  }
  .director__border{
    width: 100%;
    position: static;
    margin-bottom: 10px;
  }
  .director__greeting{
    margin-bottom: 20px;
  }

  /* Doctor */

  .doctor{
    margin-bottom: 80px;
  }
  .doctor__list{
    flex-direction: column;
    gap: 30px;
  }
  .doctor__list li{
    width: 100%;
    padding-top: 20px;
  }
  .doctor__name-box{
    margin-bottom: 20px;
  }

  .doctor__img{
    width: 150px;
    height: 120px;
  }
  .doctor__img img{
    width: 150px;
    height: 120px;
  }

    /* 

  access.html

  */

  /* Access-Top */

  .access-top{
    margin-bottom: 50px;
  }
  .access-top__img{
    height: 200px;
    margin-bottom: 20px;
    text-align: center;
  }
  .access-top__img img{
    height: 200px;
  }
  .access-top__title{
    width: auto;
    font-size: 1.25rem;
    padding: 0;
    position: static;
    transform: translateX(0%);
    text-align: center;
    margin-bottom: 20px;
  }
  .access-top__text{
    width: 100%;
    margin-bottom: 50px;
  }

  /* Information */

  .information{
    margin-bottom: 40px;
    flex-direction: column;
  }
  .information__table-box{
    width: 100%;
  }

  /* Access-Map */

  .google-map__access iframe {
    height: 300px;
  }

  /* Banner */

  .banner{
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .banner__list{
    flex-direction: column;
  }
  .banner__list__address{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-right: none;
    text-align: center;
  }
  .banner__list__address__title{
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  .banner__list__line{
    padding: 0px 0px;
    border-right: none;
  }
  .banner__list__line__img{
    margin-bottom: 5px;
  }
  .banner__list__line__text{
    margin-bottom: 10px;
  }
}


